//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "variables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

body {
  margin: 0;
  height: 100vh;
}

//navigation
nav {
  position: fixed;
  z-index: 1;
  top: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
nav li, nav ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center
}
nav li, nav a {
  display: block;
}
nav a {
  padding: 20px;
  color: #333;
  text-decoration: none;
}
a:hover {
  background: #fff;
}
a.active {
  background: #00AC7F;
  color: #fff;
}
//navigation-end

section img {
  margin: 0 auto;
}

//main section with image for landscape images (?)
#section-main {
  height:100vh;
  overflow-x: hidden;
  margin: 0 auto;
  .inner {
    display: inline-block;
    position:relative;
    right: -50%;
    img {
      height: 100vh;
      position: relative;
      left: -50%
    }
  }
}
