//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "variables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  //right: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
nav li, nav ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center
}
nav li, nav a {
  display: block;
}
nav a {
  padding: 20px;
  color: #333;
  text-decoration: none;
}
a:hover {
  background: #fff;
}
a.active {
  background: #00AC7F;
  color: #fff;
}
