<section class="section-full-screen" id="section-main">
    <div class="inner">
        <img data-ng-src="http://lorempixel.com/1920/1080/" alt=""/>
    </div>
</section>

<section class="section-full-screen" id="section-2">
    <div class="inner">
        <img data-ng-src="http://lorempixel.com/1000/400/" alt=""/>
    </div>
</section>

<section class="section-full-screen" id="section-3">
    <div class="inner">
        <img data-ng-src="http://lorempixel.com/1000/600/" alt="" />
    </div>
</section>

